body { 
  background: url(../images/up1.jpg) no-repeat center center fixed; 
  background-size: 15%;
  height: 750px;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}
#nav {
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	z-index: 1030;
	width: 100%;
	background: #800000;
	height: 50px;
}

#pic img{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-left: 85px;
}

#pic h3{
	margin-left: 120px;
}

#pic p{
	margin-left: 90px;
}

#about {
	margin-top: 75px;
	margin-left: 350px;
}

#about h1 {
	margin-left: 30px;
}

#about p {
	margin-top: 30px;
	margin-left: 80px;
	margin-right: 80px;
	text-align: justify;
}

#education {
	margin-top: 75px;
	margin-left: 350px;
}

#education img {
	height: 100px;
	margin-left: 50px;
	position: absolute;
	margin-top: 50px;
}

#education h1 {
	margin-left: 30px;
}

#education h3 {
	margin-left: 190px;
	margin-top: 80px;
}

#education p {
	margin-left: 210px;
}

#qualifications {
	margin-top: 75px;
	margin-left: 350px;
}

#qualifications h1 {
	margin-left: 30px;
}

#qualifications p {
	margin-left: 190px;
	margin-top: 80px;
}

#skillss h1 {
	margin-top: 75px;
	margin-left: 380px;
}

.skills {
	margin-left: 350px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.skills img {
	height: 100px;
	position: absolute;
	margin-left: 50px;
	margin-top: 40px;
}



.skills h3 {
	margin-left: 190px;
	margin-top: 80px;
}

#portfolio {
	margin-top: 75px;
	margin-left: 350px;
}

#portfolio h1 {
	margin-left: 30px;
}
