body { 
  background: url(../images/ob3.jpg) no-repeat center center fixed; 
  background-size: cover;
  margin: 0;
}

#pic img{
	border-radius: 50%;
	height: 250px;
	width: 250px;
	margin-top: 50px;
	margin-left: 550px;
}


