body { 
  background: url(../images/up1.jpg) no-repeat center center fixed; 
  background-size: 10%;
  height: 750px;
  margin: 0;
}
#nav {
	position: fixed;
 top:0;
 right: 0;
 left: 0;
 z-index: 1030;
	width: 100%;
	background: #800000;
	height: 50px;
}

#pic img{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-left: 85px;
}

#pic h3{
	margin-left: 120px;
}
#pic h4 {
	margin-left: 125px;
}
#pic p{
	margin-left: 90px;
}

#about {
	margin-top: 75px;
	margin-left: 350px;
}

#about h1 {
	margin-left: 30px;
}

#about p {
	margin-left: 80px;
	margin-right: 80px;
	text-align: justify;
}

#about hr {
	width: 900px;
}

#education {
	margin-top: 75px;
	margin-left: 350px;
}

#education h1 {
	margin-left: 30px;
}

#education h3 {
	margin-left: 80px;
}

#education p {
	margin-left: 120px;
}

#skills {
	margin-top: 75px;
	margin-left: 350px;
}

#skills h1 {
	margin-left: 30px;
}

#skills h3 {
	margin-left: 80px;
}